

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}
/* App.css */

body {
  margin: 0;
  padding: 0;
  background: url('/bg1.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Arial', sans-serif;
  color: #fff;
}

.section {
  padding: 60px 20px;
  margin: 40px auto;
  max-width: 900px;
  background-color: rgba(0, 0, 0, 0.6); /* semi-transparent dark overlay */
  color: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
